{
    "server": {
        "host": "0.0.0.0",
        "port": 20001,
        "retry": 5, 
        "access_keys": [
            "key1",
            "key2"
        ]
    },
    "log": {
        "storage": {
            "local_folder": "./Traces",
            "azure_storage": {
                "url": "https://aimiciusdata.blob.core.windows.net/<sas-token>",
                "container": "datastore",
                "path": "raw/traces/model_traces"
            }
        },
        "trace_related_keys": ["source", "category_info", "other_metadata"]
    },
    "endpoints": {
        "azure_spec": [
            {
                "url": "https://aimicius-dev-canada-east.openai.azure.com",
                "key": "<>",
                "version": "2023-07-01-preview",
                "chat": [
                    "gpt-4-32k",
                    "gpt-4",
                    "gpt-35-turbo"
                ],
                "embeddings": [
                    "text-embedding-ada-002"
                ]
            },
            {
                "url": "https://gcrgpt4aoai5c.openai.azure.com",
                "key": "<>",
                "version": "2023-06-01-preview",
                "chat": [
                    "gpt-4-32k",
                    "gpt-4",
                    "gpt-35-turbo"
                ]
            }
        ],
        "openai_spec": [
            {
                "url": "http://localhost:8081/v1",
                "key": "<>",
                "chat": [
                    "llama-2-7b-chat",
                    "llama-2-13b-chat",
                    "llama-2-70b-chat",
                    "llama-2-7b-chat-ark"
                ]
            }
        ]
    }
}