<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
    style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

<body>
    Dear OpenPAI user:
    </br>
    </br>
    Your quota is adjusted: <%- alerts[0].annotations.description %>.

    </br>
    </br>

    Thanks for your comprehension,
    </br>
    </br>
    OpenPAI Admin Team
</body>

</html>
