# Copyright (c) Microsoft Corporation
# All rights reserved.
#
# MIT License
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
# documentation files (the "Software"), to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
# to permit persons to whom the Software is furnished to do so, subject to the following conditions:
# The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
# BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
# DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



apiVersion: apps/v1
kind: Deployment
metadata:
  name: copilot-chat
  labels:
    app: copilot-chat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: copilot-chat
  template:
    metadata:
      labels:
        app: copilot-chat
    spec:
      containers:
      - name: copilot-chat
        image: {{ cluster_cfg['cluster']['docker-registry']['prefix'] }}copilot-chat:{{ cluster_cfg['cluster']['docker-registry']['tag'] }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "512Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        env:
        # copilot global envs
        - name: AGENT_PORT
          value: "{{ cluster_cfg["copilot-chat"]["agent-port"] | default("50000") }}"
        - name: COPILOT_HISTORY_DEPTH
          value: "{{ cluster_cfg["copilot-chat"]["history-depth"] }}"
        - name: COPILOT_VERSION
          value: {{ cluster_cfg["copilot-chat"]["version"] }}
        - name: AGENT_MODE
          value: {{ cluster_cfg["copilot-chat"]["agent-mode"] }}
        - name: AGENT_MODE_CA
          value: {{ cluster_cfg["copilot-chat"]["agent-mode-ca"] }}
        - name: AZURE_OPENAI_API_KEY
          value: {{ cluster_cfg["copilot-chat"]["azure-openai-api-key"] }}
        - name: POWERBI_KEY
          value: {{ cluster_cfg["copilot-chat"]["powerbi-key"] }}
        - name: OPENAI_API_KEY
          value: {{ cluster_cfg["copilot-chat"]["openai-api-key"] }}
        - name: COPILOT_LLM_PROVIDER
          value: {{ cluster_cfg["copilot-chat"]["llm-provider"] }}
        - name: COPILOT_LLM_ENDPOINT
          value: {{ cluster_cfg["copilot-chat"]["llm-endpoint"] }}
        - name: COPILOT_EMBEDDING_URL
          value: {{ cluster_cfg["copilot-chat"]["embedding-url"] | default(cluster_cfg["copilot-chat"]["llm-endpoint"], true) }}
        - name: COPILOT_LLM_MODEL
          value: {{ cluster_cfg["copilot-chat"]["llm-model"] }}
        - name: COPILOT_LLM_VERSION
          value: {{ cluster_cfg["copilot-chat"]["llm-version"] }}
        - name: COPILOT_EMBEDDING_MODEL
          value: {{ cluster_cfg["copilot-chat"]["embedding-model"] }}
        - name: AGENT_HOST
          value: {{ cluster_cfg["copilot-chat"]["agent-host"] }}
        - name: RESTSERVER_URL
          value: {{ cluster_cfg["rest-server"]["uri"] }}
        - name: COPILOT_VALID_VCS
          value: {{ cluster_cfg["copilot-chat"]["valid-vcs"] }}
        - name: ENVIRONMENT
          value: {{ cluster_cfg["copilot-chat"]["environment"] | default("prod") }}
        - name: KUSTO_USER_ASSIGNED_CLIENT_ID
          value: {{ cluster_cfg["copilot-chat"]["kusto-user-assigned-client-id"] | default(cluster_cfg["alert-manager"]["kusto-user-assigned-client-id"], true) }}
        - name: DATA_SRC_KUSTO_CLUSTER_URL
          value: {{ cluster_cfg["copilot-chat"]["data-src-kusto-cluster-url"] }}
        - name: DATA_SRC_KUSTO_DATABASE_NAME
          value: {{ cluster_cfg["copilot-chat"]["data-src-kusto-database-name"] }}
        - name: COLLECT_DST_KUSTO_CLUSTER_URL
          value: {{ cluster_cfg["copilot-chat"]["collect-dst-kusto-cluster-url"] }}
        - name: COLLECT_DST_KUSTO_DATABASE_NAME
          value: {{ cluster_cfg["copilot-chat"]["collect-dst-kusto-database-name"] }}
        # feature-wise envs
        - name: PRINCIPAL_ID_ACR_0
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["principal-id-acr-0"] }}
        - name: PRINCIPAL_ID_ACR_1
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["principal-id-acr-1"] }}
        - name: PRINCIPAL_ID_ACR_2
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["principal-id-acr-2"] }}
        - name: PRINCIPAL_ID_STORE_0
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["principal-id-store-0"] }}
        - name: PRINCIPAL_ID_STORE_1
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["principal-id-store-1"] }}
        - name: PRINCIPAL_ID_STORE_2
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["principal-id-store-2"] }}
        - name: EMAIL_ADDR_ALERT
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["email-addr-alert"] }}
        - name: EMAIL_ADDR_MAIN
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["email-addr-main"] }}
        - name: TEAMS_URL
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["teams-url"] }}
        - name: TEAMS_JOINCODE
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["teams-joincode"] }}
        - name: DOC_RELEASE_ROOT
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["doc-release-root"] }}
        - name: SHAREPOINT_URI_PYTORCH
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["sharepoint-uri-pytorch"] }}
        - name: SHAREPOINT_URI_MPIRUN
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["sharepoint-uri-mpirun"] }}
        - name: SHAREPOINT_URI_HELLO
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["sharepoint-uri-hello"] }}
        - name: SHAREPOINT_URI_DEMO
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["sharepoint-uri-demo"] }}
        - name: IDWEB_URL
          value: {{ cluster_cfg["copilot-chat"]["user-manual"]["idweb-url"] }}
        # external-dependent envs
        - name: CLUSTER_ID
          value: {{ cluster_cfg["cluster"]["common"]["cluster-id"] }}
        ports:
        - containerPort: {{ cluster_cfg["copilot-chat"]["agent-port"]  | default("50000") }}
          hostPort:  {{ cluster_cfg["copilot-chat"]["agent-port"]  | default("50000") }}
          name: copilot-port
        - containerPort: {{ cluster_cfg["copilot-chat"]["secure-port"]  | default("8443") }}
        securityContext:
          runAsUser: 0
          runAsGroup: 0
      volumes:
      - name: copilot-chat-logs
        emptyDir: {}
      restartPolicy: Always
